.button-shadow {
    padding: 5px;
    display: block;
    margin: 10px;
    background: #0563BB;
    color: white;
    text-decoration: none;
}

a:hover {
    color: white;
}

.styled-own{
    background: #f46211 !important;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #f46211 !important;
}